{
  "root": true,
  "env": {
    "node": true,
    "jquery": true
  },
  "extends": ["plugin:vue/essential", "@vue/standard"],
  "rules": {
    "vue/no-multiple-template-root":"off",
    "space-before-function-paren": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
